body {
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    color: white;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}

.container-fluid {
    padding: 3% 15% 7%;
}


/*navbar*/

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}


/* download button */

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/* feature */

#features {
    text-align: center;
    padding: 7% 15%;
    background-color: #fff;
    z-index: 1;
    position: relative;
}

.feature-box {
    padding: 5%;
}

.feature-box h3 {
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: bold;
}

.feature-box p {
    font-size: 0.8rem;
    font-weight: lighter;
    color: #8f8f8f8f;
}

.feature-box .icon {
    margin-bottom: 1.5rem;
    color: #ef8172;
}

.feature-box .icon:hover {
    color: #ff4c68;
}


/* test terminal section  */

#testimonials {
    background-color: #ef8172;
    text-align: center;
    color: #fff;
    font-family: "Montserrat-Bold";
}

.carousel-item {
    padding: 7% 15%;
}

#testimonials h2 {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-img {
    width: 10%;
    border-radius: 120%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3%;
}


/* cta */

#cta {
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}

#cta h3 {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}


/* footer */

#footer {
    text-align: center;
    padding: 7% 15%;
}

#footer .container i {
    padding: 20px 10px;
}

#footer p {
    padding-top: 10px;
    color: gray;
}

@media (max-width:10280px) {
    .title-image {
        transform: rotate(0);
        position: static;
    }
    #title {
        text-align: center;
    }
}